.DS_Store
*.swp
*.swo
*.class
*.ear
*.war
*.jsfdia
.lock
*.iml
.metadata/
.externalToolBuilders/
build/
dist/
classes/
/Servers/
/RemoteSystemsTempFiles/
.classpath
.project
.settings
target
.idea
/**/*.iml
/**/target
${jboss.home}

cd